/* .regpage {
    background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, 0.771)), url('pexels-pixabay-50987.jpg');
    background-size: cover;
    background-position: center;
    height: 650px;
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
/* } */

/* .regform{
    margin-top: 120px;
} */ 